### pandas - DataFrame 클래스 : 행(row) 열(column)으로 이루어진 2차원 리스트다.

In [5]:
# 1 시리즈 결합해서 데이터프레임 만들기
import pandas as pd
index = ["2018","2019","2020","2021"]

younghee = pd.Series([143,150,157,160], index = index)
cheolsu = pd.Series([165,172,175,180], index = index)

growth = pd.DataFrame({
    '영희' : younghee,
    '철수' : cheolsu
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [35]:
# 일반적인 데이터 프레임
import pandas as pd
index = ["2018","2019","2020","2021"]
data = {
    '영희' : [143,150,157,160],
    '철수' : [165,172,175,180]
}

growth = pd.DataFrame(data, index = index)
growth

# print(growth.columns)
# print(growth.values)
# print("---------------------------------------------------------")
# print(growth['영희'])
# print("---------------------------------------------------------")
# print(growth[['철수']])
# print("---------------------------------------------------------")
# print(growth['영희']['2019'])
# print("---------------------------------------------------------")
# print(growth[['영희','철수']])
print(growth)
print("---------------------------------------------------------")
# print(growth.loc['2020'])
print(growth.iloc[2])
print("---------------------------------------------------------")

# 다중행 선택
print(growth.loc[['2020', '2021']])

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
---------------------------------------------------------
영희    157
철수    175
Name: 2020, dtype: int64
---------------------------------------------------------
       영희   철수
2020  157  175
2021  160  180

In [61]:
# 일반적인 데이터 프레임
import pandas as pd
index = ["2018","2019","2020","2021"]
data = {
    '영희' : [143,150,157,160],
    '철수' : [165,172,175,180]
}

growth = pd.DataFrame(data, index = index)
print(growth)

# 특정요소 1개 선택
# loc[행,열], iloc[행(숫자), 열(숫자)]
# print(growth.loc['2020','철수'])
# print(growth.iloc[2,1])

# 행 추가 - 2022년
growth.loc['2022'] = [162,181]

# print("----------------------------")
# print(growth)

growth2 = growth.copy()
growth2 = growth.drop('2020')

print(growth2)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
       영희   철수
2018  143  165
2019  150  172
2021  160  180
2022  162  181

In [44]:
import pandas as pd
index = ["재천","선영","일성"]
data = {
    '국어' : [90,80,70],
    '수학' : [80,75,95],
    '영어' : [85,95,100]
}

growth = pd.DataFrame(data, index = index)
print(growth)

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100

In [68]:
# csv 파일 만들기
import pandas as pd
index = ["2018","2019","2020","2021"]
data = {
    '영희' : [143,150,157,160],
    '철수' : [165,172,175,180]
}

growth = pd.DataFrame(data, index = index)
# growth.to_csv('./datas/growth.csv') # csv 만들어서 보냄

# csv 파일 읽기 - to_read_csv(경로)

growth = pd.read_csv('./datas/growth.csv', index_col = 0)

print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180